body {
    background-color: #F8F9FA;
    margin: 0%;
    padding: 0%;
}

.nav_bar {
    /*Isso diz ao navegador para incluir o padding dentro dos 100%, sem aumentar o tamanho total*/
    box-sizing: border-box;
    /*Fixa a barra em cima*/
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #1B263B;
    margin: 0%;
    /* Alinha o título e os links exatamente no meio da altura */
    align-items: center;
    /* Espaço nas laterais para não encostar na tela */
    padding: 0px 2%;
}

.logo h1 {
    white-space: nowrap;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.navigation_itens {

    font-family: sans-serif;
    cursor: pointer;

    display: flex;
    list-style: none;
    margin-right: 0%;
    gap: 30px;
    white-space: nowrap
}

.navigation_itens li {
    color: white;
}

.navigation_itens li:hover {
    color: #E63946;
}

.main_information {
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
    padding-bottom: 30px;
    flex-wrap: wrap;
}

.box_title {
    padding-top: 100px;
}

.box_title h1 {
    font-size: 40px;
}

.box_title p {
    font-size: 20px;
    /* O parágrafo não passa disso */
    max-width: 600px;
    /* Melhora a leitura */
    line-height: 1.6;
    margin-left: 10px;

}

.box_title button {

    margin-left: 10px;

    /* Cores e Fundo */
    background-color: #E63946;
    color: white;

    /* Espaçamento e Tamanho */
    padding: 12px 28px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;

    /* Bordas e Formato */
    border: none;
    /* Bordas levemente arredondadas */
    border-radius: 8px;
    /* Interatividade */
    cursor: pointer;
    /* Faz as mudanças serem suaves */
    transition: all 0.3s ease;
    /* Sombra leve para dar profundidade */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

/* Efeito ao passar o mouse (Hover) */
.box_title button:hover {
    /* Escurece um pouco o vermelho */
    background-color: #b92e3a;
    /* O botão "sobe" levemente */
    transform: translateY(-3px);
    /* Sombra aumenta ao subir */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}


.box_woman img {
    height: 450px;
    width: auto;
    padding-top: 10px;
}

.all_cards {
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 50px;
    /* Para quebrar linha no celular */
    flex-wrap: wrap;
}



.cards {
    background-color: #1B263B;
    width: 300px;
    height: 300px;
    padding: 20px;
    border-radius: 8px;
}

.cards:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.cards h2 {
    text-align: center;
    color: white;
}

.cards p {
    color: white;
}

.skills ul {
    padding: 0%;
    list-style: none;
    display: flex;
    justify-content: left;
    gap: 6px;
}

.skills ul li {
    background-color: greenyellow;
    border-radius: 5px;
}